.answer-result--ok {
  color: #188c1f;
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(3.5);
  width: 22px;
  height: 22px;
  border: 2px solid;
  border-radius: 100px;
}

.answer-result--ok::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  left: 3px;
  top: -1px;
  width: 6px;
  height: 10px;
  border-color: currentColor;
  border-width: 0 2px 2px 0;
  border-style: solid;
  transform-origin: bottom left;
  transform: rotate(45deg);
}

.answer-result--ko {
  color: #e71721;
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(3.5);
  width: 22px;
  height: 22px;
  border: 2px solid;
  border-radius: 40px;
}

.answer-result--ko::after,
.answer-result--ko::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 12px;
  height: 2px;
  background: currentColor;
  transform: rotate(45deg);
  border-radius: 5px;
  top: 8px;
  left: 3px;
}

.answer-result--ko::after {
  transform: rotate(-45deg);
}
